.Signup{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

}
.signupForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 15vh 0 0 2vw;
}
.signupForm input{
    margin: 10px 0;
    display: block;
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 2px;
}
.signupForm button{
    padding: 5px;
    cursor: pointer;
    border:none;
    outline: 0;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(201, 25, 25);
    color:rgb(255, 255, 255);
}
.signupForm button:active{
    transform: translateY(2px);
}
.memberList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    width: 60%;
    padding: 15vh 0 0 2vw;
}
.memberList li{
    padding:5px;
    margin: 2px;
    width:25%;
    background-color:rgb(201, 25, 25);
    color:white;
    border-radius:5px;
}