.Signup{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.signupForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15vh 0 0 2vw;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 5px;
}
.admin{
    width: 80%;
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
.member{
    width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.admin input{
    padding: 5px;
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 5px;
}
.member input{
    padding: 5px;
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 5px;
}
.member button{
    padding: 5px;
    border:none;
    outline: 0;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(201, 25, 25);
    color:rgb(255, 255, 255);
}
.submit button{
    padding: 5px;
    border:none;
    outline: 0;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(201, 25, 25);
    color:rgb(255, 255, 255);
}
.submit{
    width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.memberList{
    width: 50%;
    padding: 15vh 0 0 2vw;

}